body {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #E1ECF6;
}

input {
    margin: 0;
    padding: 0;
}

#root {
    width: 500px;
    background-color: #205D99;
}

.avengers {
    padding: 0;
    margin: 0;
    list-style: none;
}

.avengers li input {
    display: none;
}

.avengers li {
    border-bottom: 5px solid #A4CDEE;
}

input + label + div {
    display: none;
}

input:checked + label + div {
    display: block;
}

.avengers li input .preview {
    display: none;
}

.avengers li label {
    display: block;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 22px;
    color: #E1ECF6;
}

.avengers li input:checked + label {
    font-size: 25px;
    color: #A4CDEE;
}

.preview {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.preview img {
    display: inline-block;
    width: 200px;
    border: 15px solid #A4CDEE;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
